html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

body{
    background-color: #e8e8e8;
}

.container{
    padding: 10px;
    margin: 10px;
}

#header{
    margin-bottom: 30px;
}

.menu{
    float: right;
}

.menu ul li{
    display: inline;
}

.menu ul li :hover{     /*hover berfungsi untuk melakukan suatu tindakan sesuai perintah saat setiap disentuh*/
    background-color: grey; /*warna background menu akan berubah menjadi abu-abu saat menu disentuh*/
}

.menu ul li a{
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px;
    margin-left: 10px;
}

#body{
    background-color: white;
    /*column-count: 3;*/    /*membuat 3 buah kolom*/
}

.warna{
    color: orange;
}

.flexcontainer{
    display: flex;  /*flex membuat 3 posisi kolom menyamping*/
}

.flexitem{
    margin: 10px;
    background-color: grey;
    width: 300px;
    height: 300px;
    /*transform: rotate(45deg);*/   /*bila rotate di dalam .fixitem maka kemiringan posisi kotak akan tetap sesuai 
                                      derajat yang ditentukan dan tidak bergerak saat di hover*/
}

.flexitem:hover{    /*hover berfungsi untuk melakukan suatu tindakan sesuai perintah saat setiap disentuh*/
    transform: rotate(45deg);   /*rotate membuat kemiringan posisi kotak sesuai derajat*/
}                               /*kolom akan berputar 45 derajat saat kolom disentuh*/

#footer{
    text-align: right;
    font-size: 0.75em;
}